<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/pizzaThrist"><i><strong>PizzaThirst</strong></i></a>
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/Home">Pizzas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/orders">Orders</a></li>

        <li>
            <button routerLink="/cart" class="btn btn-primary">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">2</div>
            </button>
        </li>

        <li><p class="navbar-text">Welcome</p></li>
        <li><button class="btn btn-danger" (click)="onLogout()"><span class="glyphicon glyphicon-log-in"> </span>LogOut</button></li>
        
      </ul>
    </div>
</nav>


<div class="container body-content">
    <div align="center">
        <h1>Welcome to my Pizza Shop!</h1>
        <h2>Here's our weekly selection of pizzas.</h2>
    </div>
    
    
    <div align="center" class="row carousel-holder">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li class="active" data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active left">
                        <div class="text-center"><b>Weekly Specials!</b></div>
                        <img class="slide-image" alt="Home page picture" src="/assets/Images/3.jpg">
                    </div>
                    <div class="item next left">
                        <div class="text-center"><b>Hawaii</b></div>
                        <a href="/Pizzas/DisplayDetails/2"> 
                            <img class="slide-image" alt="Picture of Hawaii" src="/assets/Images/4.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <div class="text-center"><b>Pescatore</b></div>
                        <a href="/Pizzas/DisplayDetails/4"> 
                            <img class="slide-image" alt="Picture of Pescatore" src="/assets/Images/6.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <div class="text-center"><b>Kebab Special</b></div>
                        <a href="/Pizzas/DisplayDetails/7"> 
                            <img class="slide-image" alt="Picture of Kebab Special" src="/assets/Images/5.jpg">
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    
    
           
